<h2>Paises</h2>
<ul class="border-2 rounded-lg">
  <!-- <li routerLink=""  class="p-2" routerLinkActive="bg-slate-500 text-white" [routerLinkActiveOptions]="{exact: true}" >Home Page</li>
  <li routerLink="about" class="p-2" routerLinkActive="bg-slate-500 text-white" >About Page</li>
  <li routerLink="contact" class="p-2" routerLinkActive="bg-slate-500 text-white" >Contact Page</li> -->
  <li routerLink="countries/by-capital" class="p-2" routerLinkActive="bg-slate-500 text-white" >Por capital</li>
  <li routerLink="countries/by-country" class="p-2" routerLinkActive="bg-slate-500 text-white" >Por pais</li>
  <li routerLink="countries/by-region" class="p-2" routerLinkActive="bg-slate-500 text-white" >Por region</li>
</ul>
